body {
  font-family: 'Poppins', sans-serif;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

.lock {
  overflow: hidden;
}

header {
  background-color: #FFFFFF;
}

.wrapper {
  max-width: 80%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 45px 0px 45px;
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88px;
}

.burger {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  margin-left: 20px;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px 0px 15px 64px;
}

.burger-item {
  text-decoration: none;
  margin-bottom: 20px;
}

.burger-list {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-link {
  text-decoration: none;
}

.burger-lines {
  display: block;
  position: absolute;
  height: 26px;
  width: 32px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.line-first {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 11px;
  position: relative;
}

.line-second {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 11px;
  position: relative;
}

.open-burger {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #77c66e;
  position: fixed;
  z-index: 3;
  left: -100%;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  overflow: auto;
}

.open-burger.active {
  left: 0;
}

.contact-icon {
  display: none;
  height: 26px;
  width: 26px;
}

.number-of-basket {
  font-size: 12px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 60%;
  background: #E6704B;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.navigation {
  width: 100%;
}

.box-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid #151515;
}

.box-nav .logo {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 45px;
  width: 100%;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding-right: 33px;
}

.nav-item:last-child {
  padding: 0;
}

.nav-link {
  color: green;
  text-decoration: none;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  width: 500px;
}

.search-icon {
  display: none;
  height: 24px;
  width: 24px;
}

.categories {
  background-color: #E5E5E5;
  width: 100%;
  min-height: 54px;
}

.categories-menu {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  max-height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #E5E5E5;
  margin: 0px;
  padding: 16px 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 15px;
  padding-right: 33px;
}

.menu-item:last-child {
  display: none;
}

.logo {
  max-width: 177px;
  max-height: 18px;
}

.best-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 44px;
}

.best .burger-menu {
  display: none;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  width: 269px;
  height: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.category-menu {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  position: relative;
}

.category-item {
  color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
}

.more-button {
  margin-top: 20px;
  width: 179px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 16px;
  gap: 6px;
  background: #F5F5F5;
  border-radius: 12px;
}

.arrow-right {
  position: relative;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-bottom {
  position: relative;
  top: 5px;
  left: 5px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.banner {
  background-image: url("/img/background.svg");
  border-radius: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  width: 33%;
  height: 280px;
}

.banner-title {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 33px 0px 0px 33px;
  position: relative;
}

.banner-link {
  width: 103px;
  height: 18px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}

.banner-button {
  margin-top: 80px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  border: 2px solid #92C064;
  border-radius: 12px;
  padding: 12px 16px;
}

.product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.product-price-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: bottom;
      align-self: bottom;
  margin-top: auto;
}

.product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 16px;
  max-width: 100%;
  max-height: 33%;
  margin-bottom: auto;
}

.product-description {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  gap: 4px;
  margin-bottom: 10px;
}

.product-description-small {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.product .buy-button {
  border: 2px solid #46760A;
  padding: 6.5px 12px;
  border-radius: 12px;
  background: #6A983C;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
}

.slider-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-block {
  height: 425.5px;
  background: #FFFFFF;
  border: 1px solid #F9F9F9;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 56px;
}

.slider-title {
  height: 37.5px;
  padding: 69px 45px;
}

.slider-section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 37.5px;
}

.slider-main {
  height: 228px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 47px 0px 90px 0px;
}

.slider-item {
  width: 369px;
  height: 222px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 12px;
}

.slider-item-description {
  height: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  padding: 24px 32px 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-item-author {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  text-align: center;
  display: relative;
  top: 20px;
}

.slider-item-comment {
  display: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}

.headline {
  padding: 64px 45px;
}

.headline-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 37px;
}

.blog {
  padding: 64px 45px;
}

.blog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.blog-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-description {
  width: 100%;
}

.blog-title {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
}

.blog-item-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  width: 225px;
  height: 46px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-item:last-child {
  margin-bottom: 0px;
}

.blog-author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.blog-items {
  width: 28%;
  height: 352px;
}

.footer {
  width: 100%;
}

.footer-columns, .footer-tags {
  margin-bottom: 26px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-block {
  padding: 64px 45px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.footer-columns-title {
  margin-bottom: 16px;
}

.footer-columns-item {
  height: 100%;
}

.footer-menu {
  padding: 0px;
  width: 135px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.footer-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
  margin-bottom: 16px;
}

.footer-menu-item:last-child {
  margin-bottom: 0px;
}

.footer-tags-block {
  margin-top: 16px;
  width: 78%;
  height: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-tags-items {
  margin-right: 16px;
  font-size: 12px;
  line-height: 18px;
  height: 23px;
  text-align: center;
  background: #F5F5F5;
  border-radius: 12px;
  padding: 4px 10px;
}

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox {
  display: block;
  height: 40px;
  width: 40px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

@media only screen and (max-width: 1450px) {
  .product:last-child {
    display: none;
  }
  .slider-item:last-child {
    display: none;
  }
  .slider-item {
    width: 45%;
  }
  .blog-title {
    width: 45%;
  }
  .blog-items {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .banner-title {
    width: 80%;
  }
  .category {
    display: none;
  }
  .product:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner {
    width: 48%;
    margin-bottom: 10px;
  }
  .headline-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .best .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product {
    width: 48%;
    margin-bottom: 10px;
  }
  .best-block {
    padding: 0px 64px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .best-block > .product:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search {
    width: 100%;
  }
  .footer-menu-item {
    font-size: 18px;
  }
  .footer-columns {
    font-size: 23px;
  }
}

@media only screen and (max-width: 830px) {
  .nav-item {
    font-size: 10px;
  }
  .slider-item-comment {
    font-size: 12px;
  }
  .wrapper {
    max-width: 100%;
  }
  .search {
    width: 100%;
  }
  .blog-img {
    width: 100%;
  }
  .blog-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-menu-item {
    font-size: 18px;
  }
  .footer-columns {
    font-size: 23px;
  }
  .footer-columns-item {
    width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-block {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 632px) {
  .nav {
    display: none;
  }
  .box-nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 0px;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .input {
    display: none;
  }
  .search {
    display: none;
  }
  .search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-second .logo {
    display: none;
  }
  .header-icons {
    width: 100%;
  }
  .contact-icon {
    display: block;
  }
  .banner-button {
    font-size: 12px;
  }
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-item {
    display: none;
  }
  .menu-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-item-comment {
    font-size: 16px;
  }
  .slider-item {
    display: none;
  }
  .slider-item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .best-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner {
    width: 100%;
  }
  .product {
    width: 99%;
  }
  .footer-columns-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .footer-block {
    padding-top: 0px;
  }
  .blog-title {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */